.wrapper {
    display:flex;
    justify-content: left;
}

.fileupload-section {
    position: relative; 
    padding: 10px;
}

.failed-transaction-report {
    position: relative;
    top: 150px;
    right: 300px;
}

.btn-validateReport {
    position: absolute;
    top: 110px;
    left: 54px;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
  }