.wrapper {
    display:flex;
    justify-content: left;
}

.fileupload-section {
    position: relative; 
    padding: 10px;
}

.failed-transaction-report {
    position: relative;
    top: 150px;
    right: 300px;
}

.btn-validateReport {
    position: absolute;
    top: 110px;
    left: 54px;
}

table, td, th {
    border: 1px solid;
    padding: 2px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}